# Cosmic API credentials
NEXT_PUBLIC_COSMIC_BUCKET_SLUG=your-bucket-slug
COSMIC_READ_KEY=your-read-key

# Cosmic Insights
COSMIC_INSIGHTS_PROJECT=6a95c3cd3d494ca06b9bedb3
NEXT_PUBLIC_COSMIC_INSIGHTS_PROJECT=6a95c3cd3d494ca06b9bedb3
